
.card-module{
    text-align: center;
    background-color:#f0f0f0;   
}
.card-module h2{
    color: #333;
}

.foto{
    width: 75px;
    border-radius: 12px ;
    position: relative;
    
}
ul li{
    list-style: none;
}
.icono{
    width: 3rem;
    
}